---

- name: Manage user groups
  include: groups.yml
  tags: ['users-groups']

- name: Manage users
  include: users.yml
  tags: ['users-users']

- name: Manage sudo users and settings
  include: sudo.yml
  when: (users_admin|length and users_manage_admin_sudoers == true)
  tags: ['users-sudo']

- name: Secure ssh and manage keys
  include: ssh.yml
  tags: ['users-ssh']

- name: Manage user files
  include: files.yml
  tags: ['users-files']

- name: Manage user defaults
  include: defaults.yml
  tags: ['users-defaults']
